@font-face{
  font-family: "SourceSansPro";
  font-weight: 700;
  src: resolve("fonts/sourcesans/SourceSansPro-Black.otf") format("opentype");
}

@font-face{
  font-family: "SourceSansPro";
  font-weight: 600;
  src: resolve("fonts/sourcesans/SourceSansPro-Bold.otf") format("opentype");
}

@font-face{
  font-family: "SourceSansPro";
  font-weight: 500;
  src: resolve("fonts/sourcesans/SourceSansPro-Semibold.otf") format("opentype");
}

@font-face{
  font-family: "SourceSansPro";
  font-weight: 400;
  src: resolve("fonts/sourcesans/SourceSansPro-Regular.otf") format("opentype");
}

@font-face{
  font-family: "SourceSansPro";
  font-weight: 300;
  src: resolve("fonts/sourcesans/SourceSansPro-Light.otf") format("opentype");
}

@font-face{
  font-family: "SourceSansPro";
  font-weight: 200;
  src: resolve("fonts/sourcesans/SourceSansPro-ExtraLight.otf") format("opentype");
}
