html{
  font-size: responsive 1em 1.25em; /* min-size, max-size */
  font-range: 60em 90em; /* viewport widths between which font-size is fluid */
  background: #eee;
}

body {
  font-family: "SourceSansPro", sans-serif;
  padding: 1rem 2rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

h1{
  font-weight: 200;
}
